In [ ]:
#Tuples Concepts
What is tuples?
   #Tuples is an immutable
   #Tuples does not change any values to delete,update

In [1]:
tup1=(10,20,30,40)
print(tup1)
print(type(tup1))

(10, 20, 30, 40)
<class 'tuple'>

In [2]:
tup2=(10,"azar",2.5,"#")
tup2

(10, 'azar', 2.5, '#')

In [ ]:
#Indexing of tuples

In [3]:
Avg=("iron-man","mohamed","azar","livewire")
print(Avg)
print(type(Avg))

('iron-man', 'mohamed', 'azar', 'livewire')
<class 'tuple'>

In [4]:
#n-1
#3-1
#n=2
#[0,1,2]
print(Avg[0:3])

('iron-man', 'mohamed', 'azar')

In [5]:
print(Avg[-1])

livewire

In [7]:
Avg[0]

'iron-man'

In [8]:
len(tup1)

4

In [9]:
str1="azar"
str1[0]

'a'

In [16]:
str1="mohit"
print(tuple(str1))#tuple pre define class
print(type(str1))
print(type(tuple(str1)))

('m', 'o', 'h', 'i', 't')
<class 'str'>
<class 'tuple'>

In [21]:
tup3=("azar","mohamed")
print(tup3)
print(type(tup3))
print(str(tup3))
print(type(str(tup3)))

('azar', 'mohamed')
<class 'tuple'>
('azar', 'mohamed')
<class 'str'>

In [ ]:
()--tuples
[]--list
{}--Dic
""--String

In [23]:
Avg

('iron-man', 'mohamed', 'azar', 'livewire')

In [24]:
Avg2=("kkk","mmm")
Avg2

('kkk', 'mmm')

In [28]:
Avg2+Avg

('kkk', 'mmm', 'iron-man', 'mohamed', 'azar', 'livewire')

In [26]:
Avg*2

('iron-man',
 'mohamed',
 'azar',
 'livewire',
 'iron-man',
 'mohamed',
 'azar',
 'livewire')

In [ ]:
#List

In [ ]:
# Characteristic of Python list

In [ ]:
# It values are ordered
# It is mutable
# It can hold any number of values
# It can add,remove and alter the values

In [10]:
Avengers=["hulk","iron-man","captain","mohamed"]
Avengers

['hulk', 'iron-man', 'captain', 'mohamed']

In [11]:
Avengers

['hulk', 'iron-man', 'captain', 'mohamed']

In [30]:
Avengers[0]

'hulk'

In [31]:
Avengers[0:3]

['hulk', 'iron-man', 'captain']

In [32]:
Avengers[-1]

'mohamed'

In [5]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(list1[1:14:2])
print(list1[0:14:3])
print(list1[0])
#n=1,n=2...n-1

[2, 4, 6, 8, 10, 12, 14]
[1, 4, 7, 10, 13]
1

In [39]:
Avengers[0]="azar"
Avengers

['azar', 'iron-man', 'captain', 'mohamed']

In [45]:
Avengers[0]="azar"
Avengers[1]="raja"
Avengers

['azar', 'raja', 'captain', 'mohamed']

In [12]:
Avengers

['hulk', 'iron-man', 'captain', 'mohamed']

In [13]:
del Avengers[0]
Avengers

['iron-man', 'captain', 'mohamed']

In [14]:
del Avengers[0:1]
Avengers

['captain', 'mohamed']

In [49]:
Avengers

['hulk', 'iron-man', 'captain', 'mohamed']

In [51]:
if "mohamed1" in Avengers:
    print("Yes")
else:
    print("No")

No

In [ ]:
#list() function converts the sequence into a list

In [2]:
tup1=("a","b","c","d")
print(list(tup1))
print(type(tup1))
print(type(list(tup1)))

['a', 'b', 'c', 'd']
<class 'tuple'>
<class 'list'>

In [ ]:
#sorted() function

In [15]:
list1=[1,2,10,3,4,5]
sorted(list1)

[1, 2, 3, 4, 5, 10]

In [5]:
list2=["B","A"]
sorted(list2)

['A', 'B']

In [16]:
list3=["hai","azar"]
sorted(list3)

['azar', 'hai']

In [7]:
Avengers=[]
Avengers.append("Captain")
Avengers.append("mohamed")

In [10]:
Avengers

['Captain', 'mohamed']

In [9]:
Avengers.append("azar","raja")
Avengers

TypeError: append() takes exactly one argument (2 given)

In [11]:
Avengers

['Captain', 'mohamed']

In [12]:
Avengers1=["raja","mohan"]
Avengers1

['raja', 'mohan']

In [13]:
Avengers+Avengers1

['Captain', 'mohamed', 'raja', 'mohan']

In [14]:
Avengers.extend(Avengers1)

In [15]:
Avengers

['Captain', 'mohamed', 'raja', 'mohan']

In [16]:
list1=["a","c","b","c","a"]
print(list1.count("a"))
print(list1.count("b"))

2
1

In [ ]:
#Index() method is used to find the index of a particular item in a list

In [17]:
Avengers

['Captain', 'mohamed', 'raja', 'mohan']

In [19]:
print(Avengers.index("mohamed"))
print(Avengers.index("Captain"))

1
0

In [ ]:
#remove()--function is used to remove an item from a list

In [20]:
Avengers.remove("mohamed")
Avengers

['Captain', 'raja', 'mohan']

In [17]:
Avengers

['captain', 'mohamed']

In [18]:
#pop()--function
Avengers.pop()
Avengers

['captain']

In [19]:
Avengers.pop(0)
Avengers

[]

In [20]:
list1=[5,6,7,1,4,3]
list1.sort(reverse=True)
list1

[7, 6, 5, 4, 3, 1]

In [31]:
Avengers

['hulk', 'iron-man', 'captain', 'mohamed']

In [38]:
Avengers.reverse()
Avengers

['mohamed', 'captain', 'iron-man', 'hulk']

In [47]:
list1=[2,3,4,5]
list2=[]
for e1 in list1:
    print(e1)
    list2.append(e1*e1)
    print(list2)

2
[4]
3
[4, 9]
4
[4, 9, 16]
5
[4, 9, 16, 25]

In [42]:
list2=list1
list2

[2, 3, 4, 5]

In [44]:
list2

[4, 9, 16, 25]

In [6]:
#import collections

In [9]:
a=300
b=300
print(a is b)
print(id(a))
print(id(b))

False
2055064605552
2055064605584

In [11]:
f1=float(input("Enter the value is::"))
f1

Enter the value is::2.3

2.3