In [1]:
#Dictionary
#In python a dictionary is a sequence of key-value or item,pairs sepearted by commas.

In [2]:
#Syntax:
   # dictionary_name={key:value}

In [3]:
dic1={101:"azar",102:"mohamed",103:"abi",104:"raja"}
print(dic1)
print(type(dic1))
print(dic1.keys())
print(dic1.values())
# dic1
# type(dic1)

{101: 'azar', 102: 'mohamed', 103: 'abi', 104: 'raja'}
<class 'dict'>
dict_keys([101, 102, 103, 104])
dict_values(['azar', 'mohamed', 'abi', 'raja'])

In [4]:
#dic1["azar"]

In [5]:
print(dic1[101])
print(dic1[102])

azar
mohamed

In [6]:
del dic1[101]
dic1

{102: 'mohamed', 103: 'abi', 104: 'raja'}

In [7]:
t1={"azar":"mohamed","raja":"mohan"}
t1

{'azar': 'mohamed', 'raja': 'mohan'}

In [8]:
t1["azar"]

'mohamed'

In [9]:
del t1["azar"]

In [10]:
t1

{'raja': 'mohan'}

In [11]:
t2={}

In [12]:
t2

{}

In [13]:
del t1

In [14]:
#Update based on key
t2["azar"]="mohamed"
t2

{'azar': 'mohamed'}

In [2]:
#Adding the item to the dictionary
port={80:"http",23:"telnet"}
port[110]="azar"
print(port)
print(len(port))

{80: 'http', 23: 'telnet', 110: 'azar'}
3

In [3]:
port

{80: 'http', 23: 'telnet', 110: 'azar'}

In [5]:
print(str(port))
print(type(str(port)))

{80: 'http', 23: 'telnet', 110: 'azar'}
<class 'str'>

In [8]:
port=[[80,"http"],[20,"ftp"],[23,"telnet"]]
print(port)
print(type(port))
print(dict(port))

[[80, 'http'], [20, 'ftp'], [23, 'telnet']]
<class 'list'>
{80: 'http', 20: 'ftp', 23: 'telnet'}

In [14]:
port1=((80,"http"),(20,"ftp"),(23,"telnet"))
print(port1)
print(type(port1))
print(dict(port1))

((80, 'http'), (20, 'ftp'), (23, 'telnet'))
<class 'tuple'>
{80: 'http', 20: 'ftp', 23: 'telnet'}

In [ ]:
#The in operator can be used to find the existence of a key in the dict..

In [17]:
port2={101:"azar",102:"mohamed",103:"raja"}
port2

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [19]:
k=int(input("Enter the key is::"))
if k in port2:
    print("yes")
else:
    print("no")

Enter the key is::201
no

In [22]:
list1=[10,20,30,40,50]
k=int(input("Enter the value is::"))
if k in list1:
    print("found")
else:
    print("not found")

Enter the value is::90
not found

In [ ]:
#copy()--function is used to create a copy of an existing dictionary

In [23]:
port2

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [24]:
A2=port2
A2

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [25]:
cw=port2.copy()
cw

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [26]:
print(id(port2))
print(id(A2))
print(id(cw))

2135088126912
2135088126912
2135087337408

In [27]:
A2

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [28]:
A2.get(101,"not found")

'azar'

In [29]:
A2.get(104,"not found")

'not found'

In [30]:
A2

{101: 'azar', 102: 'mohamed', 103: 'raja'}

In [31]:
A2.setdefault(104,"mohan")
A2

{101: 'azar', 102: 'mohamed', 103: 'raja', 104: 'mohan'}

In [34]:
print(A2.keys())
print(A2.values())
A2.items()

dict_keys([101, 102, 103, 104])
dict_values(['azar', 'mohamed', 'raja', 'mohan'])

dict_items([(101, 'azar'), (102, 'mohamed'), (103, 'raja'), (104, 'mohan')])